.section {
  padding: 60px 24px;

  @media (min-width: 768px) {
    padding: 80px 40px 140px;
  }

  @media (min-width: 1480px) {
    padding: 80px 0 140px;
  }
}

.videoWrap {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  max-height: 740px;

  @media (min-width: 501px) {
    aspect-ratio: 16 / 9;
  }

  @media (max-width: 500px) {
    max-width: 327px;
    max-height: none;
    margin: 0 auto;
    aspect-ratio: 9 / 16;
  }
}

.video,
.videoPlaceholder {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: translateZ(0);
}

.video {
  z-index: 1;
}

.videoPlaceholder {
  z-index: 0;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
}

.videoPlaceholderHidden {
  opacity: 0;
  visibility: hidden;
}

.textOverlay {
  padding: 0 0 24px;

  @media (min-width: 1000px) {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 800px;
    padding: 40px 28px 40px;
    pointer-events: none;

    &::before {
      content: '';
      position: absolute;
      z-index: 0;
      inset: -50px -50px -50px -50px;
      background: radial-gradient(
        ellipse 185% 165% at 0% 100%,
        rgb(0 0 0 / 100%) 0%,
        rgb(0 0 0 / 100%) 18%,
        rgb(0 0 0 / 92%) 30%,
        rgb(0 0 0 / 72%) 46%,
        rgb(0 0 0 / 38%) 62%,
        rgb(0 0 0 / 0%) 80%
      );
      pointer-events: none;
      filter: blur(18px);
    }

    :global([dir='rtl']) & {
      left: auto;
      right: 0;

      &::before {
        background: radial-gradient(
          ellipse 185% 165% at 100% 100%,
          rgb(0 0 0 / 100%) 0%,
          rgb(0 0 0 / 100%) 18%,
          rgb(0 0 0 / 92%) 30%,
          rgb(0 0 0 / 72%) 46%,
          rgb(0 0 0 / 38%) 62%,
          rgb(0 0 0 / 0%) 80%
        );
        filter: blur(18px);
      }
    }
  }
}

.title {
  position: relative;
  z-index: 1;
  font-family: 'Manrope', sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
  color: #f9f9ff;
  margin: 0 0 15px;

  @media (max-width: 500px) {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 12px;
  }
}

.text {
  position: relative;
  z-index: 1;
  font-family: 'Geologica', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #f9f9ff;
  line-height: 32px;
  max-width: 700px;
  margin: 0;

  @media (max-width: 500px) {
    font-size: 18px;
    line-height: 22px;
  }
}
